<! doctype HTML5>

<html lang = "en">
    <head>
        <meta charset = "utf - 8">

        <title> Coin Page </title>
        <meta name = "description" content = "Nav Bar Homework">
        <meta name = "author" content = "Site Point">

        <link rel = "stylesheet" href = "css/coint_style.css">

    </head>

    <body>

        <div id = "coin_changer">   

            Please enter amount of cents you wish to know the change of

            <form method = "post" action = "/user_change">
                <input type = 'number' min = '1' max = '1000' name = 'cents_given_to_me'>
                <input type = "submit" value = "Calculate Change">
            </form>
        
        </div>

    </body>

</html>