<! doctype HTML5>

<html lang = "en">
<head>
    <meta charset = "utf - 8">

    <title> Nav Bar Homework </title>
    <meta name = "description" content = "Nav Bar Homework">
    <meta name = "author" content = "Site Point">

    <link rel = "stylesheet" href = "css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div id = "background">  
    </div>

    <div id = "NavBar">
        <ul id = "socialsites">
            <li> <a href = "http://www.facebook.com/ty.cook.14"> <img src = "./img/fb.png" alt = "facebook logo"> </a> </li>
            <li> <a href = "http://www.twitter.com/Ty_Zeta"> <img src = "./img/tw.png" alt = "twitter logo"> </a> </li>
            <li> <a href = "http://www.youtube.com"> <img src = "./img/yt.png" alt = "youtube logo"> </a> </li>
        </ul>
    </div>

    <div id = "ddm">
        <ul id = "info">
            <li class = "links">
                <a href="javascript:void(0)"
                class = "dropbtn"> LINKS </a>
                <div class = "links-content">
                    <a href = "http://www.amazon.com"> Amazon </a>
                    <a href = /isbn> ISBN </a>
                    <a href = /pizza_delivery> Pizza </a> 
                </div>
            </li>
            <li id = "gl"> <a href = /user_names> RANDOM PAIRS  </a> </li>
            <li id = "cc"> <a href = /user_change> COIN CHANGER </a> </li>
        </ul>
    </div>

    <div id = "isbn_bucket_display">
        <form method = "post" action = "/isbn_bucket_display">
            <p> The CSV file from the bucket is </p>
	<% get_file = get_file.gsub("[", "").gsub(" ", "").gsub("]","") %>
	<% get_file = get_file.delete(' ')  %>
	<% get_file = get_file.split(",") %>
	
	<% get_file.each_with_index do |single, position| %>
	<% if position % 3 == 0 %>
	<br>
	<% else %>
	<% end %>
	<%= "#{single.gsub('"','')}" %>
	<% end %>
	</h3>



        </form>
    </div>

    <div id = "footer">
        <ul id = "mmlink">
            <li> <a href = "http://www.minedminds.org" target = "_blank"> <img src = "./img/mm.png" alt = "minedminds logo"> </a> </li>
        © Mined Minds
        </ul>
    </div>

</body>

</html>