<! doctype HTML5>

<html lang = "en">
<head>
    <meta charset = "utf - 8">

    <title> Nav Bar Homework </title>
    <meta name = "description" content = "Nav Bar Homework">
    <meta name = "author" content = "Site Point">

    <link rel = "stylesheet" href = "css/style.css">

     <script>
    function generate() {

        var number_of_people = parseInt(document.getElementById("number_of_names").value);
        // this takes the number from the text box and passes to a variable to give to the next step
        // document = webpage
        // getelementbyid =  search for the tag < > number_of_names

        var number_of_names = document.getElementById("number_of_names");
        // this is the number of boxes that appear

        for (var i = 0; i < number_of_people; i++) {
            // i++ is the same as i = i + 1

            var input = document.createElement("input");
            // variable input is the boxes themselves

            input.text = "text";
            // .text tells the box what to expect to be written in

            input.name = "name" + i;
            // gives a title to the value and the i is the counter for each ascending box

            input.required = true;
            // something has to be inside the boxes before submit button works

            input.placeholder = "Enter name"
            // places shadow text inside text boxes that goes away as soon as user types
            
            list_names.appendChild(input);
            // this puts the div of text boxes on the screen after the number button has been pressed
        }
    }
    </script>

</head>

<body>
    <div id = "background">  
    </div>

    <div id = "NavBar">
        <ul id = "socialsites">
            <li> <a href = "http://www.facebook.com/ty.cook.14"> <img src = "./img/fb.png" alt = "facebook logo"> </a> </li>
            <li> <a href = "http://www.twitter.com/Ty_Zeta"> <img src = "./img/tw.png" alt = "twitter logo"> </a> </li>
            <li> <a href = "http://www.youtube.com"> <img src = "./img/yt.png" alt = "youtube logo"> </a> </li>
        </ul>
    </div>

    <div id = "ddm">
        <ul id = "info">
            <li class = "links">
                <a href="javascript:void(0)"
                class = "dropbtn"> LINKS </a>
                <div class = "links-content">
                    <a href = /tic_tac_toe> Tic Tac Toe </a>
                    <a href = /isbn> ISBN </a>
                    <a href = /pizza_delivery>Pizza</a> 
                </div>
            </li>
            <li id = "gl"> <a href = /user_names> RANDOM PAIRS  </a> </li>
            <li id = "cc"> <a href = /user_change> COIN CHANGER </a> </li>
        </ul>
    </div>

    <div id = "rando_names">
        <form method = "post" action = "/user_names">
            
            <p> Enter how many people in your group </p>
            <input type = "text" id = "number_of_names" />
            <input type = "button" value = "Enter number" onclick = "generate()" />
            
            <div id = "list_names"> </div>
            <input type = "submit" value = "Ready to be paired up?">
        
        </form>
    </div>

    <div id = "footer">
        <ul id = "mmlink">
            <li> <a href = "http://www.minedminds.org" target = "_blank"> <img src = "./img/mm.png" alt = "minedminds logo"> </a> </li>
        © Mined Minds
        </ul>
    </div>

</body>

</html>