body {
    margin: 0px;
    font: 5 px;
    font-family: open sans-serif;
}


/* #background {
    background-image: url("../img/pic.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

#NavBar {
    position: fixed;
    top: 0%;
    left: 5%;
    right: 5%;
    height: 6%;
    width: 90%;
    background-color: #1c1c1c;
    z-index: 998;
}

#socialsites {
    position: fixed;
    top: -8px;
    margin-left: -20px;
}

#socialsites li {
    display: inline-block;
}

#ddm {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 8%;
    background-color: rgba(20, 20, 20, 100);
    z-index: 995;
    text-align: right;
    text-decoration: none;
}

#info {
    margin-right: 5;
    width: 50%;
    float: right;
    text-decoration: none;
    padding-right: 0;
}

#info a:hover {
    color: green;
}

#info li {
    display: inline-block;
    padding-top: 0px;
}

#gl {
    padding-right: 5px;
}

.dropbtn {
    background-color: rgba(20, 20, 20, 100);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.shop {
    padding-right: 5px;
    display: inline-block;
}

.shop-content {
    display: none;
    position: absolute;
    background-color: darkslategrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 900;
    text-align: left;
}

.shop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.shop-content a:hover {
    background-color: #333;
}

.shop:hover .shop-content {
    display: block;
}

#answer {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 11%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#pickle {
    margin: 0px;
    background-size: 100% 100%;
}

#pickle a {
    color: black;
    padding-left: 20px;
    position: relative;
    top: 125px;
    left: 40%;
    z-index: 999999;
}

a {
    text-decoration: none;
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
    height: 40px;
    width: 90%;
    background-color: #1c1c1c;
    z-index: 996;
}

#mmlink {
    margin-top: 6;
    color: white;
}

#mmlink li {
    display: inline-block;
}