body {
    margin: 0px;
    color: white;
    font: 10 px;
    font-family: open sans-serif
}

#background {
    position: center center;
    repeat: no-repeat;
    background-attachment: relative;
    z-index: 1;
}

#NavBar {
    position: fixed;
    top: 0px;
    left: 5%;
    right: 5%;
    height: 40px;
    width: 90%;
    background-color: darkslategray;
    z-index: 998;
}

#socialsites {
    position: fixed;
    top: -8px;
    margin-left: -20px;
    z-index: 999;
}

#socialsites li {
    display: inline-block;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
    height: 40px;
    width: 90%;
    background-color: darkslategray;
    z-index: 996;
}

#mmlink {
    margin-top: 6;
    z-index: 997;
}

#mmlink li {
    display: inline-block;
    bottom: 500px;
}