body {
    margin: 0px;
    font: 5 px;
    font-family: open sans-serif;
}

#background {
    background-image: url("../img/pic.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#NavBar {
    position: fixed;
    top: 0%;
    left: 5%;
    right: 5%;
    height: 6%;
    width: 90%;
    background-color: #1c1c1c;
    z-index: 998;
}

#socialsites {
    position: fixed;
    top: -8px;
    margin-left: -20px;
}

#socialsites li {
    display: inline-block;
}

#ddm {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 8%;
    background-color: rgba(20, 20, 20, 100);
    z-index: 995;
    text-align: right;
    text-decoration: none;
}

#info {
    margin-right: 5;
    width: 50%;
    float: right;
    text-decoration: none;
    padding-right: 0;
}

#info a:hover {
    color: green;
}

#info li {
    display: inline-block;
    padding-top: 0px;
}

#gl {
    padding-right: 5px;
}

.dropbtn {
    background-color: rgba(20, 20, 20, 100);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.links {
    padding-right: 5px;
    display: inline-block;
}

.links-content {
    display: none;
    position: absolute;
    background-color: darkslategrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 900;
    text-align: left;
}

.links-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.links-content a:hover {
    background-color: #333;
}

.links:hover .links-content {
    display: block;
}

#rando_names {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#coin_changer {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#paired_names {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#pizza_delivery_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#pizza_address_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#pizza_index_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#pizza_confirm_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#pizza_results_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#pizza_checkout_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#isbn {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#isbn_results {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#isbn_bucket_display {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#ttt {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

#player_selection_div {
    text-align: right;
}

#ttt_game_board_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

.board_square {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 4.3em;
    background-color: #f1f1f1;
}

.columns {
    border-right: 5px solid black;
    border-left: 5px solid black;
}

.rows {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#ttt_board_table {
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 500px;
    height: 500px;
}

#ttt_end_page_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

.title_ttt_end_page {
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.win_display {
    font-family: Tahoma, sans-serif;
    text-align: center;
    vertical-align: center;
    font-size: 5em;
}

#ttt_results_button_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    /* width: 90%; */
    /* height: 100%; */
    bottom: 130;
    position: absolute;
    color: black;
    z-index: 501;
    margin-top: 1.5%;
}

#ttt_scoreboard_div {
    text-align: center;
    background-color: #f1f1f1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    top: 10%;
    position: absolute;
    color: black;
    z-index: 500;
    margin-top: 1.5%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    text-align: center;
    background-color: #f1f1f1;
    z-index: 800;
    margin-top: 5%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    top: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a {
    text-decoration: none;
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
    height: 40px;
    width: 90%;
    background-color: #1c1c1c;
    z-index: 996;
    color: white;
}

#mmlink {
    margin-top: 6;
    z-index: 997;
    color: white;
}

#mmlink li {
    display: inline-block;
}